* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));

  min-width: 100vh;
}
header,
form {
  font-size: 2rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: #fff;
  border-radius: 3px;
  outline: none;
}
form button {
  color: #060827;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 0.1rem;
}
form button:hover {
  background: #060827;
  color: #fff;
  border: 1px solid #060827;
  border-radius: 5px;
}
.todo-container {
  /*usando display flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
  padding-left: 0.3rem;
}
.todo {
  margin: 0.5rem;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.todo li {
  flex: 1;
}
.fa-trash,
.fa-check {
  pointer-events: none; /*corrige os missclicks*/
}
.trash-btn,
.completed-btn {
  background: #060827;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.trash-btn:hover {
  color: red;
}
.completed-btn {
  background: rgb(59, 140, 207);
}
.completed-btn:hover {
  color: green;
}
.completed {
  color: grey;

  text-decoration: line-through;
}
.fall {
  /*efeito de queda*/
  transform: translate(8rem) rotate(20deg);
  opacity: 0;
}
select {
  outline: none;
  border: none;
  color: #060827;
  width: 10rem;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  border: none;
  background: #fff;
  border-radius: 3px;
}
.select::after {
  position: absolute;
  background: #060827;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transform: all 0.3s ease;
}
.select::after:hover {
  background: #fff;
  color: #000;
}
option {
  font-size: 1rem;
}
